<%= error_messages_for @dashboard %>

<div class="box tabular">
  <p>
    <%= f.label :name, l(:label_dashboard_name) %>
    <%= f.text_field :name, required: true, size: 50 %>
  </p>
  
  <p>
    <%= f.label :description, l(:label_dashboard_description) %>
    <%= f.text_area :description, rows: 3, cols: 60 %>
  </p>
  
  <p>
    <%= f.check_box :is_default %>
    <%= f.label :is_default, l(:label_dashboard_set_default) %>
  </p>
</div>

<%= submit_tag l(@dashboard.new_record? ? :button_create_dashboard : :button_update_dashboard) %>
<%= link_to l(:button_cancel), my_dashboards_path %>