<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'dashboards', plugin: 'redmine_custom_dashboards' %>
<% end %>

<div class="contextual">
  <%= link_to sprite_icon('add', l(:label_dashboard_new)), new_dashboard_path, class: 'icon icon-add' %>
</div>

<h2><%= l(:label_my_dashboards) %></h2>

<% if @dashboards.any? %>
  <table class="list dashboards">
    <thead>
      <tr>
        <th><%= l(:label_dashboard_name) %></th>
        <th><%= l(:label_dashboard_description) %></th>
        <th><%= l(:label_dashboard_default) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @dashboards.each do |dashboard| %>
        <tr class="<%= cycle('odd', 'even') %> <%= 'default-dashboard' if dashboard.is_default? %>">
          <td class="name">
            <%= dashboard.name %>
            <% if dashboard.is_default? %>
              <span class="default-indicator">(<%= l(:label_dashboard_default) %>)</span>
            <% end %>
          </td>
          <td class="description"><%= dashboard.description %></td>
          <td class="default-actions">
            <% unless dashboard.is_default? %>
              <%= link_to sprite_icon('checked', l(:label_dashboard_set_default)), 
                          set_default_dashboard_path(dashboard), 
                          method: :patch,
                          class: 'icon icon-checked',
                          title: l(:label_dashboard_set_default) %>
            <% end %>
          </td>
          <td class="buttons">
            <%= link_to sprite_icon('edit', l(:button_edit)), edit_dashboard_path(dashboard), class: 'icon icon-edit' %>
            <%= link_to sprite_icon('del', l(:button_delete)), 
                        dashboard_path(dashboard), 
                        method: :delete,
                        data: { confirm: l(:text_are_you_sure) },
                        class: 'icon icon-del' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>